.grey{
    background-color:#8A949B;
}
.red{
    background-color:#EB2137;
}
.black{
    background-color: #243743;
}
.page-ul {
    list-style: none;
    display: inline-block;
    /* margin: 2em 5em; */
}
.page-ul li{
    display: inline-block;
    margin: 0.8em 2em;   
}
.page-ul li a{
    display: inline-block;
    color: white;
    width: 100px;
    height: 100px;
    padding-top: 24px;
    font-size: 2em; 
}
.h-1{
    height: 190px;
}